/* #formContainer {
    max-width: 900px;
    margin: auto;
    padding: 50px;
    background-color: white;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px; */
/* } */
/* #formContainer img {
    width: 100%;
    display: block;
} */
.loginImg {
    width: 100px;
    background-image: url("Image_files/Main_image/LogInImg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}